<!-- Displays the license plate on the top of the page and makes it a link to bring you back to the home page -->
<a href="/home"><img src="assets/pl8_p4l5_bigger.png" class="rounded mx-auto d-block mt-5" alt="Plate Pals on Texas License Plate"></a>