<!--Navigation bar is a integral part of the Platepals app. It's used for quick navigation links, profile, about, competion, login,
    signup and logout links-->

<nav class="navbar navbar-def navbar-expand-lg" style="background-color: rgb(192, 222, 231); color: black">
    <div class="container-fluid">
    <a class="navbar-brand" href="/home">Plate Pals<a class="nav-link" href="#"><i class="fa-light fa-cars navicon"></i></a> 
    <a class="nav-link" href="#">
    <i class="fa fa-bell-o navicon"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills navbar-left">
        <li class="nav-item me-5">
            <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item me-5">
            <a class="nav-link" href="/post">Post</a>
        </li>
        <li class="nav-item me-5">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item me-5">
            <a class="nav-link" href="/competition">Competition</a>
        </li>
        <li class="nav-item me-5">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
        <a class="btn btn-danger navbar-btn" href="/logout">Log Out</a>
        </ul>
        <a class="nav-link" href="#"><i class="fa-light fa-cars"></i></a>


        <!--This Navbar is very responsive and also includes icon which will be functional in future updates. -->
    </div>
    </div>
</nav>

