<%- include("partials/header.ejs", {title: "About"}) %>

<%- include("partials/navbar.ejs") %>
    

    <div class="text-center mt-5">
        <h1>About Plate Pals</h1>

    <p>a fun website for license plate-spotters</p>

    </div>


<div class="container mt-5">
        <!-- This is first table-->
        <div class="row justify-content-center">
            <div class="col-lg-3 border col-sm-12">   
                
                <h3>Record your sightings</h3>
                <ul>
                    <li>See an out-of-state license plate</li>
                    <li>Record where and when a new plate was seen</li>
                    <li>Write a comment to capture the memory</li>
                </ul>
            </div>
    
        <!-- This is second table -->
                <div class="col-lg-3 border col-sm-12">
                    <h3>Compete with others</h3>
        <ul>
            <li>See where you rank</li>
            <li>Weekly Leader Boards</li>
            <li>Analyze global stats</li>
        </ul>
        </div>
    
        <!-- This is third table -->
                    <div class="col-lg-3 border col-sm-12">
                        <h3>Gotta Spot 'em all!</h3>
                        <ul>
                            <li>Aim to spot all state plates</li>
                            <li>Try and spot all 50 while in each state</li>
                            <li>Coming soon:</li>
                            <ul><li>Unique State license plate designs</li></ul>
                        </ul>
                </div>
    </div>
    </div>

<%- include("./partials/footer.ejs") %>