<!--The contactconfirm page connects users to app developers, they can ask questions, leave comments and notes so that way developers 
    can fix bugs, add more futures and keep truck of everything-->

<%- include("partials/header.ejs", {title: "Contact Confirmed"}) %>

<%- include("partials/navbar.ejs") %>

    <div class="text-center mt-5">
        <h1>Contact Us</h1>
    
        <p>Have a Question? Leave us a comment.</p>
    
        </div>

        <div style="border:2px solid black; margin:60px; padding:80px; text-align: center;" >

        <div>
            <h3>Thank you.</h3>
            <h3>Your form has been submited.</h3>
        </div>
     </div>
     <!--After submiting comment user gets notification on screen  that form  for commenting has been submitted and confirmed. 

     <%- include("./partials/footer.ejs") %>